@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fffff9;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

  
  .body-section {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1280px;
    height: 500px;
    justify-content: center;
    align-items: center;
    background: #fffff9;
    border: 1px solid #ffffff;
    margin-top: 80px;
    margin: 0 auto;
  }

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

span {
  font-size: 12px;
  margin-bottom: 10px;
}

button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  margin-top: 15px;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.back-button {
  padding: 5px 20px;
}


form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  width: 100%;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
              0 10px 10px rgba(0,0,0,0.22);
  width: 450px;
  max-width: 100%;
  min-height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.form-container {
  width: 100%;
  padding: 30px;
}
