.chatArea {
  flex: 7;
  background-color: #d4d3e3;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  position: relative;
  box-sizing: border-box;
}

.chatContent {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 150px;
}

.input {
  flex-grow: 1;
  padding: 10px;
  height: 50px;  /* 높이 설정 */
  padding: 10px; /* 여백 설정 */
  font-size: 16px; /* 글자 크기 조정 */
  border-radius: 5px;
  border: 1px solid #ccc;
}

.sendButton {
  padding: 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.uploadButton {
  font-size: 30px; /* 기본 크기보다 크게 */
  cursor: pointer;
  margin-right: 10px; /* 버튼 간격 조정 */
  transition: transform 0.3s ease; /* 크기 변경 애니메이션 추가 */
}

.uploadButton:hover {
  transform: scale(1.2); /* 호버 시 이미지 확대 */
}

/* 메시지 공통 스타일 */
.message {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  word-break: break-word;
}

/* 사용자 메시지 - 오른쪽 */
.userMessage {
  background-color: #333;
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

/* AI 메시지 - 왼쪽 */
.aiMessage {
  background-color: #fff;
  color: #000;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}
