/* src/pages/component/chatbot/css/ChatBotPage.module.css */

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-body {
  flex: 1;
}
